img.visible {
    /*visibility: visible;*/
    opacity: 100;
    
}

img.hidden {
    /*visibility: hidden;*/
    opacity: 0;
}

.indv-photo{
    position: relative;
    border: 1px solid black;
    justify-content: center;
    display:flex;
    
    
}

.centered {
    position: absolute;
    top: 40%;
    left: 25%;
}

 p.text{
    position: absolute;
    top: 40%;
    color: blue
}